* {
    margin: 0;
}

.body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

body {
    background-color: #222;
}

.text {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}

.swiper-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.swiper-wrapper {
    position: relative;
}

.swiper-slide {
    position: relative;
}

img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (orientation: landscape) {
    .swiper-container {
        width: 60%;
    }

    img {
        width: 70%;
    }

    .text {
        font-size: medium;
    }
}

@media screen and (orientation: portrait) {
    .swiper-container {
        width: 100%;
    }

    img {
        width: 100%;
    }

    .text {
        font-size: x-small;
    }
}