* {
    padding: 0;
}

* /*.parts-of-speech, .button, .label-checkbox, #word, #index, #buttons, #forder, #checkboxes, .box-help*/ {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* internet explorer */
    user-select: none;
}

#temp-index {
    position: absolute;
    top: 10px;
}

.temp-index {
    position: absolute;
    left: 290px;
    height: 25px;
    line-height: 25px;
    vertical-align: auto;
    line-height: 25px;
    padding: 0px 5px;
    border-radius: 10px;
    background-color: #DDD;
}

a:link {
    color: rgb(255, 85, 215)
}

a:visited {
    color: rgb(178, 95, 159)
}

body {
    background-color: #333;
}

#hide {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 491px;
    background-color: #AAA;
    border-radius: 7.5px;
    cursor: pointer;
}

#img-hide {
    width: 25px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#shuffle {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 451px; /* 411 + 30 + 10(margin) */
    background-color: #AAA;
    border-radius: 7.5px;
    cursor: pointer;
}

#img-shuffle {
    width: 25px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#copyright {
    text-align: left;
    position: absolute;
    bottom: 0;
    top: 350px;
    left: 10px;
    height: 200px;
    width: 350px;
}

#img-copyright {
    position: relative;
    width: 25px;
    top: 15.1px;
    left: 15.18px;
    transform: translate(-50%, -50%);
}

#copyright-list {
    text-align: left;
}

#icon-copyright {
    border-radius: 50%;
    background-color: #AAA;
    width: 30px;
    height: 30px;
    position: relative;
}

#absolutes {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
}

#top {
    margin: 0;
}

#help1 {
    left: 445px;
    width: 250px;
    transform: translateY(30%);
}

.box-help {
    position: absolute;
    border-radius: 5px;
    background-color: #222;
    color: #DDD;
    line-height: 25px;
    padding: 2.5px 5px;
    z-index: -1;
    opacity: 0;
    transition: .3s;
    text-align: center;
    border: 2px solid gray;
}

#say {
    left: 50%;
    top: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
}

img {
    pointer-events: none;
}

.in-top {
    display: inline-block;
    position: relative;
    text-align: center;
}

#word {
    margin: 0px;
    height: 30px;
    background-color: rgb(178, 95, 159);
    color: white;
    padding: 0px 5px;
    margin-left: 10px;
    font-size: large;
    line-height: 30px;
    font-weight: bolder;
    border-radius: 5px;
}

#index {
    position: absolute;
    left: 200px;
    height: 25px;
    vertical-align: auto;
    line-height: 25px;
    padding: 0px 5px;
    border-radius: 10px;
    top: 10px;
    background-color: #DDD;
}

.forder {
    position: absolute;
    top: 8px;
    left: 411px; /* 185 + (482 - 30) / 2 */
    background-color: #AAA;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 3s;
}

.forder:hover {
    border-radius: 50% 50% 0 0;
    transition: .5s;
}

#img-forder {
    width: 23px;
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}

#meaning {
    position: relative;
}

.button {
    padding: 8px 16px;
    line-height: 100%;
    transition: .5s;
    cursor: pointer;
}

.btn-previous {
    margin-left: 10px;
    background-color: #DDD;
}

.btn-previous:hover {
    background-color: #BBB;
}

.btn-next {
    background-color: darkcyan;
    color: white;
}

.btn-next:hover {
    background-color: #BBB;
    color: black;
}

#bottom {
    height: 150px;
}

.inner-checkbox {
    width: 65px;
    position: absolute;
    left: 16px;
    text-align: left;
}

.label-checkbox {
    position: relative;
    margin: 5px;
    border-radius: 5px;
    padding: 2px;
    display: inline-block;
    width: 80px;
    height: 25px;
    border: 1px solid black;
    text-align: center;
    background-color: #DDD;
    cursor: pointer;
    transition: .5s;
}

#checkboxes {
    z-index: 1;
    top: 38px;
    left: 185px;
    border-radius: 10px;
    position: absolute;
    background-color: #333;
    padding: 1px 2px;
    height: min-content;
    display: none;
    border: 2px solid gray;
}

#buttons {
    position: absolute;
    top: 300px;
}

.day-checkbox {
    float: right;
    position: inline-block;
    opacity: 0;
    height: 0;
    width: 0;
    transition: .5s;
    display: relative;
    z-index: 2;
}

.day-checkbox:checked {
    height: 10px;
    width: 10px;
    opacity: inherit;
    transition: .5s;
}

.means {
    display: block;
    margin-top: 5px;
    margin-left: 10px;
    transition: .5s;
}

.parts-of-speech {
    height: 25px;
    display: inline-block;
    width: 23px;
    text-align: left;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
    overflow: hidden;
    transition: .5s;
    margin-right: 5px;
    background-color: darkcyan;
    color: white;
}

.parts-of-speech:hover {
    text-align: center;
    width: 100px;
    transition: .5s;
}

.mean {
    height: 25px;
    line-height: 25px;
    margin: 0;
    display: inline-block;
    border-radius: 5px;
    background-color: rgba(0, 195, 195, 0.801);
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    margin-left: 8px;
}