body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#canvas-container {
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f0;
}

#input-container {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#my {
    position: absolute;
    right: 25px;
    bottom: 4px;
    color: white;
}