#statusTable{
    margin-top: 10px;
    width: 200px;
    height: 50px;
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
}

#statusTable th, td {
    border: 1px solid #CCCCCC;
    text-align: right;
}

#resultTable{
    margin-top: 10px;
    width: 400px;
    height: 50px;
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
}

#resultTable th, td {
    border: 1px solid #CCCCCC;
}

.statusTable-name {
    width: 52px;
}

.resultTable-name {
    width: 200px;
}

.text-center {
    text-align: center;
}

.imoji-clipboard {
    font-size: 90%;
    text-align: center;
}

#credits {
    text-align: right;
}

#noticeMsg {
    opacity:0;
    position:fixed;
    top:70%;
    left:50%;
    background-color:#808;
    color:#FCF;
    transition:.5s;
    transform: translateX(-50%);
    padding:3px;
    font-size:large;
    font-weight:4px;
    border-radius:5px;
}