::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #2d2b55;
    border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a297df;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #514d96;
}

